@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div style="text-align: center">
        <h1>Tietokanta Demo App</h1>
        <p class="lead">Johannan projekti demo-sovellus.</p>
        <p><a href="/henkilo" class="w3-btn w3-large">Henkilöt &raquo;</a></p>
        <p><a href="/projekti" class="w3-btn w3-large">Projektit &raquo;</a></p>
        <p><a href="/tunti" class="w3-btn w3-large">Tunti &raquo;</a></p>

        <p><a href="/henkilo/index2" class="w3-btn w3-large">HenkilötDynaaminen &raquo;</a></p>
        <p><a href="/projekti/index2" class="w3-btn w3-large">ProjektiDynaaminen &raquo;</a></p>
        <p><a href="/tunti/index2" class="w3-btn w3-large">TuntiDynaaminen &raquo;</a></p>

        <p><a href="/tunnit" class="w3-btn w3-large">Tunnit &raquo;</a></p>

        <p>Tiedoksi: @ViewBag.TestiViesti</p>

        <div id="root"></div>
        <script type="text/babel">

            ReactDOM.render(
            <h1>Hello, world!</h1>,
            document.getElementById('root')
            );

        </script>

    </div>


    <div class="row">
        <div class="col-md-4">
            <div style="text-align: center">
                <a href="http://www.picgifs.com/graphics/"><img src="http://www.picgifs.com/graphics/b/butterflies/graphics-butterflies-973573.gif" border="0" /></a>
            </div>
            <h2>Tervetuloa MVC Demo sivustolle</h2>
            <p>
                Tämä on esimerkki sovellus applikaatio, joka selventää, mitenkä SQL tietokannassa olevaa tietoa voidaan soveltaa. Tietokannan käsittelyssä on käytetty ASP.NET MVC 5 Entity Framework työkaluja.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Tutustu &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <div style="text-align: center">
                <a href="http://www.picgifs.com/graphics/"><img src="http://www.picgifs.com/graphics/b/butterflies/graphics-butterflies-973573.gif" border="0" /></a>
            </div>
            <h2>Lisätietoa sovelluksesta:</h2>
            <p>
                Projektin Visual Studion tietokanta on myös ladattu GitHubiin. Projekti on osa ohjelmistotuotannon datanomin opintojen harjoitustyötä.
                Projektin demon kehittämistä on tarkoitus jatkaa omien taitojen kehittyessä.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Tutustu &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <div style="text-align: center">
                <a href="http://www.picgifs.com/graphics/"><img src="http://www.picgifs.com/graphics/b/butterflies/graphics-butterflies-973573.gif" border="0" /></a>
            </div>
            <h2>Sovelluksen tiedot ovat ladattavissa:</h2>
            <p>Voit tutustua paremmin sovellukseen seuraavan linkin kautta.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Tutustu &raquo;</a></p>
        </div>
    </div>
</div>
